<div class="row row-cols-1 row-cols-md-3 g-4" id="id_formula">
<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Формула </h5>
            <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-secondary" aria-disabled="true">
            </li>
               <input name="formula" id="id_formula" type="text" class="form-control" placeholder="" value=""/>
            </li>
 
            </ul>
        </div>
    </div>
</div>

</div>