{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
  Список переменных
{% endblock %}
{% block control_panel %}

<form>  {% comment %} action={% url = 'modules:module_by_plc' %} method="post"> {% endcomment %}
  {% comment %} {% csrf_token %} {% endcomment %}
  {% comment %} <form method="post" action="{% url 'modules:module_by_plc' plc_selector %}"> {% endcomment %}
  {% comment %} <div class="container text-center"> {% endcomment %}
  <div class="container d-flex flex-wrap" style= "background-color:lightgray;padding: 5px 5px">

  <div class="container text-center">
    <div class="row justify-content-md-left">
    {% comment %} <div class="row"> {% endcomment %}
      <div class="col-md-auto">
        <div style="padding: 5px 5px">
          Выбор ПЛК:
        </div>
      </div>
      <div class="col-md-auto">
        <select class="form-select selcls" name="plc_selector" id="plc_selector" arial-label="Default select PLC" size="sm" style="width: 10rem;padding: 0px 5px" >
          {% for plc in plc_list %}
            {% if plc_id == plc.0 %}
              <option value={{plc.0}} selected>{{plc.1}}</option>
            {% else %}
              <option value={{plc.0}}>{{plc.1}}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
      <div class="col-md-auto">
        <div style="padding: 0px 5px">
          <button type="submit" class="btn btn-outline-primary" formaction="{% url 'variables:variable_by_plc_filter' plc_id=0 %}" onclick="updateAction(this)">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
              <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
            {% comment %} <a class="text-decoration-none text-reset"
            href="{% url 'variables:variable_by_plc' plc_id %}">
            Применить</a></button> {% endcomment %}
            Применить</button>            
        </div>
      </div>
      {% if user.is_staff %}
      <div class="col-md-auto">
        <div style = "padding: 0px 5px"> 
          <button type="button" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg>
            <a class="text-decoration-none text-reset"
            href="{% url 'variables:variable_create' plc_id %}">
            Добавить</a></button>
        </div>
      </div>
      <div class="col-md-auto">
        <div style = "padding: 0px 5px">
          <button type="button" class="btn btn-outline-primary" id="btn_download">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
              <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
            </svg>
            Загрузить в ПЛК</button>
        </div>
      </div>
      {% endif %}
    {% comment %} <button type="button" class="btn btn-outline-primary" id="btn_download">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-down" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
      <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg>
    <a class="text-decoration-none text-reset"
    href="{% url 'variables:tags_update' plc_id %}">Обновить теги</a></button>  {% endcomment %}


    {% comment %}<button type="button" class="btn btn-outline-primary" id="btn_download">
      <a class="text-decoration-none text-reset"
      href="{% url 'variables:tags_delete' plc_id %}">Удалить теги</a></button>     {% endcomment %}
   
      
  {% comment %} <div style = "padding: 0px 5px">
    <button type="button" class="btn btn-outline-primary"><a class="text-decoration-none text-reset"
      href="{% url 'variables:download_variables' plc_id %}?min=1&max=999999999&action=download">Загрузить в ПЛК</a></button>
  </div>  {% endcomment %}
  {% comment %} <div style = "padding: 0px 5px"> {% endcomment %}
    <div class="col-md-auto">
      <div style="padding: 5px 5px">
        {% comment %} Считано:{{ object_list.count }} {% endcomment %}
        Прочитано:{{ all_count }}
      </div>
    </div>
    <div class="col-md-auto">
      <div style = "padding: 0px 5px">
        <button type="button" class="btn btn-outline-primary" id="btn_export">
          <span data-tooltip="up" aria-label="Выгрузка в csv">
          <a class="text-decoration-none text-reset" href="{% url 'variables:export_csv' %}">
            <svg id="Layer_1" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m14 7v-6.54a6.977 6.977 0 0 1 2.465 1.59l3.484 3.486a6.954 6.954 0 0 1 1.591 2.464h-6.54a1 1 0 0 1 -1-1zm8 3.485v8.515a5.006 5.006 0 0 1 -5 5h-10a5.006 5.006 0 0 1 -5-5v-14a5.006 5.006 0 0 1 5-5h4.515c.163 0 .324.013.485.024v6.976a3 3 0 0 0 3 3h6.976c.011.161.024.322.024.485zm-8 8.515a1 1 0 0 0 -1-1h-5a1 1 0 0 0 0 2h5a1 1 0 0 0 1-1zm3-4a1 1 0 0 0 -1-1h-8a1 1 0 0 0 0 2h8a1 1 0 0 0 1-1z"/></svg>
            </a>
          </span>
        </button>
      </div>
    </div>
    {% comment %} <div class="col-sm"> {% endcomment %}
      <style>
        .not-visible{display: none;}
      </style>
      
      <div class="progress not-visible" style="width: 20rem; padding: 0px 5px" id="progress_bar">
        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      
    {% comment %} </div> {% endcomment %}
    {% comment %} <button type="submit" class="btn btn-primary" style="border-radius:0px">Применить</button> {% endcomment %}
    </div> {% comment %} <div class="row justify-content-md-center"> {% endcomment %}
  </div>
    {% comment %} </div>

  </div>  class="row" {% endcomment %}
  {% comment %} <div class="container-fluid"> {% endcomment %}

    <hr size="10">
    <div class="card text-bg-light mb-3" >
      {% comment %} <div class="card" style="width: 18rem;"> {% endcomment %}
      <div class="card-body">
    <div class="row justify-content-md-left"> 
      <div class="col-md-auto">
        Фильтрация:
        {% comment %} <span class="input-group-text" id="addon-wrapping" style="align: center;">Фильтрация</span> {% endcomment %}
        <div class="input-group input-group-sm mb-3" style="width: 60rem;">
          {% comment %} <span class="input-group-text" id="inputGroup-sizing-sm">Индекс:</span>
          <input name="filter_index" iequipment_by_plcd="filter_index_id" placeholder="Индекс" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_index != '' and filter_index != None%}"{{filter_index}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm">Имя,Описание,Сигнал:</span>
          <input name="filter" id="filter_id" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter != '' and filter != None%}"{{filter}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm">КВВ:</span>
          <input name="filter_cvv" id="filter_cvv_id" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_cvv != '' and filter_cvv != None%}"{{filter_cvv}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm">Модуль:</span>
          <input name="filter_cvv" id="filter_cvv_id" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_cvv != '' and filter_cvv != None%}"{{filter_cvv}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm">Канал:</span>
          <input name="filter_cvv" id="filter_cvv_id" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_cvv != '' and filter_cvv != None%}"{{filter_cvv}}"{%else%}{%endif%} > {% endcomment %}
          <span class="input-group-text" id="inputGroup-sizing-sm"></span>
          <input name="filter_index" id="filter_index_id" placeholder="Индекс" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_index != '' and filter_index != None%}"{{filter_index}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm"></span>
          <input name="filter" id="filter_id" placeholder="Имя,Описание,Сигнал" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter != '' and filter != None%}"{{filter}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm"></span>
          <input name="filter_cvv" id="filter_cvv_id" placeholder="КВВ" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_cvv != '' and filter_cvv != None%}"{{filter_cvv}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm"></span>
          <input name="filter_module" id="filter_module_id" placeholder="Модуль" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_module != '' and filter_module != None%}"{{filter_module}}"{%else%}{%endif%} >
          <span class="input-group-text" id="inputGroup-sizing-sm"></span>
          <input name="filter_channel" id="filter_channel_id" placeholder="Канал" type="text" class="form-control" aria-label="Filter" aria-describedby="inputGroup-sizing-sm" value={% if filter_channel != '' and filter_channel != None%}"{{filter_channel}}"{%else%}{%endif%} >
          
          
        </div>

      {% comment %} <div class="col-md-auto"> {% endcomment %}
        {% comment %} <div style="text-align: left;"> {% endcomment %}
        {% comment %} <button type="button" class="btn btn-primary btn-sm"><a class="text-decoration-none text-reset"
          href="{% url 'variables:variable_by_plc' plc_id %}">Сброс</a></button> {% endcomment %}
          {% comment %} href="{% url 'variables:variable_by_plc' plc_id %}?filter={{ form.filter_k_id.value }}">Применить</a></button>


        {% comment %} </div> {% endcomment %}
      {% comment %} </div> {% endcomment %}
    </div>
  </div>
</div>
  {% comment %} </div> {% endcomment %}
  {% comment %} <div class="container d-flex flex-wrap" style= "background-color:lightgray;padding: 5px 5px"> {% endcomment %}
    {% comment %} <div class="row">
    </div>
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm" color=#5555>
      <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">Фильтр:</span>
        <input type="text" class="form-control" aria-label="Пример размера поля ввода" aria-describedby="inputGroup-sizing-sm">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-4">
      </div>
    </div>
    </div> {% endcomment %}
    {% comment %} </div> {% endcomment %}
</div>


</div>
        

{% comment %} </div> {% endcomment %}


</form>
<script>
  function updateAction(button) {
    const plcSelector = document.getElementById('plc_selector').value;
    const currentUrl = "{% url 'variables:variable_by_plc_filter' plc_id=0 %}".replace("0", plcSelector);
    button.setAttribute('formaction', currentUrl);
  }
  const pb = document.getElementById('progress_bar');
  $("#btn_download").on('click', function (e){
    e.preventDefault();
    pb.classList.remove("not-visible");
    const filter = document.getElementById('filter_id');
    $.ajax({

        url: "{% url 'variables:download_variables' plc_id%}?min=1&max=999999999&action=download&filter="+filter.value,          
        //headers: {'X-CSRFToken': csrftoken},
        //data: {'search_input': search_input},
        type: "GET",
        //dataType: 'html',
        success: function (data) {
          if (data) {
            console.log(data);
            //console.log('выполнился success'); 
            //console.log(data.error_back.length);
            //if (data.error_back.length > 0)
            if (Object.keys(data.error_back).length > 0)
            {
              var messages = ['При загрузке возникли ошибки:\r\n\r\n'];
            //if (data.error_back == true)  
            //{
              //alert('выполнился success');
              //console.log(data.error_back)
              //console.log(Object.keys(data.error_back).length)
              //alert(data.error_back);                    

              Object.values(data.error_back).forEach(item => {
                if (item.index_num) {
                  messages.push(`   ${item.index_num}`);
                }
                if (item.error_num) {
                  messages.push(`  ${item.error_num}`);
                }
                if (item.param_num) {
                  messages.push(`  ${item.param_num}\r\n\r\n`);
                }
                messages.push("\r\n\r\n");
              });
              alert(messages.join(""));

              /*for (var x=0; x<Object.keys(data.error_back).length; x++)
              {
                console.log(data.error_back[x].error_num)
                if (data.error_back[x].index_num)
                {messages.push('   ' + data.error_back[x].index_num)}
                if (data.error_back[x].error_num)
                {messages.push('  ' + data.error_back[x].error_num)}
                if (data.error_back[x].param_num)
                {messages.push('  ' + data.error_back[x].param_num + '\r\n\r\n')}
                messages.push('\r\n\r\n')
                //messages.push(data.error_back[x].index_num + ', ' + data.error_back[x].error_num + ', ' + data.error_back[x].param_num + '\r\n\r\n')
              }
              alert(messages);*/
            }
            else
            {alert('Переменные успешно загружены в ПЛК');}         
            // Add the http response to element
            //target_element.html(data);
            }
        }
    });
    const intervalLength = 1000;
    const interval = setInterval(() => {
      $.ajax({
        type: 'GET',
        url: "{% url 'variables:check_state' %}",
  
        success:function(response){
            // Do visualization stuff then check if complete
            console.log(response.progress);
            pb.innerHTML = '<div class="progress-bar progress-bar-striped" role="progressbar" style="width: ' + response.progress + '%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">' + response.progress + '%</div>'
            if (response.progress >= 100) {
                pb.classList.add("not-visible");
                pb.innerHTML = '<div class="progress-bar progress-bar-striped" role="progressbar" style="width: 2%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">2%</div>'
                //pb.aria-valuenow = response.progress * 10
                clearInterval(interval);
                console.log('Finished');
            }
        }
    });
  }, intervalLength);
})

</script> 
{% endblock %}
{% block content %}
{% comment %} <br>
  MODULES {% endcomment %}
  {% comment %} <div class="container m-4" style="width: 10rem;">
  <select class="form-select selcls" arial-label="Default select example" size="sm">
    <option selected> Select</option>
    <option value="1">PLC</option>
  </select>
</div> {% endcomment %}
<div>

<table>

  <thead>
    <tr>
      <th>Индекс</th>
      <th>Имя</th>
      <th>Описание</th>
      <th>Идентификатор</th>
      <th>КВВ</th>
      <th>Модуль</th>
      <th>Канал</th>
      <th>Изменить</th>
      <th>Удалить</th>
    </tr>
  </thead>
  <tbody>

  {% for variable in page_obj %}
    {% comment %} <article class="mb-5"> {% endcomment %}
      {% include "variables/variable_card.html" %}
    {% comment %} </article> {% endcomment %}
  {% endfor %}
</tbody>  
</table>
</div>
  {% include "includes/paginator.html" %}
{% endblock %}