
<div class="col">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title"> Слово состояния </h5>
            <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-item-secondary" aria-disabled="true">
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Переменная:&nbsp;&nbsp;
                <select name="sw_variable" id="id_sw_variable" class="form-select" arial-label="Default select">
                    <option value="select_item" {% if not form.EQ_DATA_ROLES_BIT_SW_WORDS %}selected{%endif%}>Не выбран</option>                                
                    {% for item_par in form.DATA_ROLES.variable %}
                        <option value={{ item_par.id }} {% if form.EQ_DATA_ROLES_BIT_SW_WORDS.0.n_variable_id == item_par.id %}selected{% endif %}>{{ item_par.c_desc_variable }}</option>
                    {% endfor %}
                </select>
            </li>
            <div id="sw_new_items">
            </div>
            </ul>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {

    const sw_new_items = document.getElementById("sw_new_items");

    /*dictionary = "{{ form.EQ_DATA_ROLES_BIT_SW_WORDS | escapejs }}";
    var dataroles = JSON.parse('{{ form.DATA_ROLES | escapejs }}');
    console.log(dataroles);
    //var dataroles = JSON.parse(dataroles1);*/
   // let BIT_SW_WORDS = "{{ form.EQ_DATA_ROLES_BIT_SW_WORDS|escapejs }}";

        for (var index = 0; index <=15; index++)
        {
            sw_new_items.innerHTML = sw_new_items.innerHTML + ' \
            <li class="list-group-item d-flex justify-content-between align-items-center" id="id_sw_role'+index+'"> \
              <label style="display:inline-block;width:90px;text-align:left;"> Бит '+index+' </label> \
              <select name="sw_role_bit'+index+'" id="id_sw_role_bit'+index+'" class="form-select" arial-label="Default select"> \
                <option value="select_item" {% if not form.EQ_DATA_ROLES_BIT_SW_WORDS %}selected{% endif %}>Не выбран</option>                                \
                {% for item_type in form.ROLES.variable %} \
                    <option value={{ item_type.id }}>{{ item_type.c_role_desc }}</option> \
                {% endfor %} \
            </select> \
          </li>'

        }


    var n_bit = [
        {% for item in form.EQ_DATA_ROLES_BIT_SW_WORDS %}
        {{ item.n_bit }},
        {% endfor %}
    ]
    var n_role_id = [
        {% for item in form.EQ_DATA_ROLES_BIT_SW_WORDS %}
        {{ item.n_role_id }},
        {% endfor %}
    ]

    for (var index = 0; index < n_bit.length; index++)
    {
        document.getElementById('id_sw_role_bit'+ n_bit[index]).selectedIndex = n_role_id[index];

    };

    
}); 

/*function CheckSelected(bit_num1, bit_num2){
    if (bit_num1==bit_num2)
    {
        return True;
    }
}*/

</script>